{% extends 'portfolio/base.html' %}

{% block title %}المهارات{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h1>المهارات</h1>
        <ul class="list-group">
            <li class="list-group-item">Excel - إتقان برامج جداول البيانات</li>
            <li class="list-group-item">التحليل المالي - تحليل البيانات المالية بدقة</li>
            <li class="list-group-item">التخطيط - وضع خطط استراتيجية فعالة</li>
            <li class="list-group-item">إدارة الوقت - تنظيم المهام بكفاءة</li>
            <li class="list-group-item">التواصل - مهارات تواصل قوية مع العملاء</li>
        </ul>
    </div>
</section>
{% endblock %}